{% extends "main_layout.html" %}
{% block content %}
<h3 class="mb-4">This Website Created on Learn Flask🚀🧑‍💻.</h3>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla eum harum necessitatibus nostrum soluta fuga a deserunt nisi exercitationem cumque nam vitae sed non debitis velit, similique corporis veritatis consequuntur, amet rem, quaerat hic quos iste. Totam odit nesciunt libero.</p>
<p><em>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo voluptatem eos perspiciatis, in laborum aperiam ea pariatur sint excepturi animi consectetur eius tempore nesciunt temporibus recusandae, debitis perferendis, aspernatur fugiat.</em></p>
<p><strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore praesentium provident quasi omnis cumque ad eaque laboriosam dicta dolor et.</strong></p>
{% endblock %}