{% extends "main_layout.html" %}
{% block content %}
<h2 class="mb-4">Contact Us📞.</h2>
<p><strong>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tenetur, totam!</strong></p>
<p><em>Lorem ipsum dolor sit amet consectetur adipisicing elit. Beatae itaque aliquid expedita fuga quos nulla a illum sequi tenetur, perspiciatis molestias odit reprehenderit pariatur rem nam natus iste eos. Recusandae minima quas impedit sed doloribus. Nostrum unde sequi consequatur maiores.</em></p>
{% endblock %}